@use '../abstract/variables' as vars;
@use "../abstract/mixins" as *;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: vars.$font-primary-dark;
}

/*
  =================== HEADING PRIMARY ======================
  This could also be a component...
 */
.heading-primary {
  color: vars.$font-primary;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  &--main {
    display: block;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    letter-spacing: 2.5rem;

    animation-name: moveInLeft;
    animation-duration: 500ms;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    /*
    animation-delay: 5s;
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    animation: moveInRight 500ms ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 200ms;
  @include gradient-background;

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: .5rem 1rem 2rem rgba(vars.$black, .2);
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    padding-inline: 1rem;
    font-size: 2.5rem;

    &:hover {
      transform: none;
      text-shadow: none;
    }
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  color: vars.$font-primary-dark;
}

.paragraph {
  font-size: vars.$default-font-size;

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}
