@use '../abstract/variables' as vars;

/*
  =================== BUTTON COMPONENT ======================
 */
.btn {
  position: relative;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 10rem;
  transition: all 150ms ease-out;

  &::after {
    position: absolute;
    display: inline-block;
    border-radius: inherit;
    transition: all 300ms ease-out;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &:hover, &:focus {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1.5rem rgba(vars.$black, .2);

    &::after {
      transform: scaleX(1.5) scaleY(1.8);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .2rem 1rem rgba(vars.$black, .2)
  }

  &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
  }

  &--white {
    background-color: vars.$font-primary;
    color: vars.$font-primary-dark;

    &::after {
      background-color: vars.$font-primary;
    }
  }

  &--green {
    background-color: vars.$green-dark;
    color: vars.$white;

    &::after {
      background-color: vars.$green-medium;
    }
  }

  &--animated {
    animation: appear 1.5s ease-in 0.5s;
    /* This property applies the values of 0% before the animation is played*/
    animation-fill-mode: backwards;
  }
}

.btn-text {
  display: inline-block;
  position: relative;
  padding: .5rem;
  transition: all 200ms ease-out;
  background-color: transparent;
  text-decoration: none;
  font-size: vars.$default-font-size;
  font-weight: bold;
  z-index: 1;

  // The border growing effect
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: vars.$green-medium;
    transition: all 200ms ease-in;
    z-index: -1;
  }

  &:link,
  &:visited {
    color: vars.$green-medium;
  }

  &:hover {
    color: vars.$font-primary;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(vars.$black, .25);

    &:after {
      height: 100%;
    }
  }

  &:active {
    box-shadow: 0 .5rem .5rem rgba(vars.$black, .15);
    transform: translateY(0);
  }
}
