@use '../abstract/variables' as vars;

/*
  =================== BUTTON COMPONENT ======================
 */
.btn {
  position: relative;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 10rem;
  transition: all 150ms ease-out;

  &::after {
    position: absolute;
    display: inline-block;
    border-radius: inherit;
    transition: all 300ms ease-out;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &:hover, &:focus {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1.5rem rgba(vars.$black, .2);

    &::after {
      transform: scaleX(1.5) scaleY(1.8);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .2rem 1rem rgba(vars.$black, .2)
  }

  &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
  }

  &--white {
    background-color: vars.$font-primary;
    color: vars.$font-primary-dark;

    &::after {
      background-color: vars.$font-primary;
    }
  }

  &--animated {
    animation: appear 1.5s ease-in 0.5s;
    /* This property applies the values of 0% before the animation is played*/
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    padding: .5rem;
    box-shadow: inset 0 -1px 0 vars.$green-light;
    text-decoration: none;
    transition: box-shadow 200ms ease-out, transform 100ms ease-out;
    color: vars.$green-light;
    font-size: vars.$default-font-size;
  }

  &:hover {
    box-shadow:
            inset 0 -2.5rem 0 vars.$green-light,
            0 1rem 2rem rgba(vars.$black, .25);
    color: vars.$font-primary;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow:
            inset 0 -2.5rem 0 vars.$green-light,
            0 .5rem .5rem rgba(vars.$black, .15);
    transform: translateY(0);
  }
}
