@use '../abstract/variables' as vars;

@mixin card-gradient-background($start-color, $end-color) {
  background-image: linear-gradient(to right bottom, $start-color, $end-color);
}

.card {
  $card-height: 55rem;

  height: $card-height;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &:is(:hover, :focus-within) &__perspective {
    transform: rotateY(180deg);
  }

  // This wrapper was included so the perspective rotation would work on Firefox
  // Otherwise it would get buggy
  &__perspective {
    position: relative;
    transition: all 500ms ease-out;
    transform-style: preserve-3d;
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $card-height;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(vars.$black, .15);
    // So the image doesn't overflow the rounded corner
    overflow: hidden;

    &--back {
      background-color: darkseagreen;
      transform: rotateY(-180deg);

      &--orange {
        @include card-gradient-background(vars.$orange-light, vars.$orange-medium)
      }

      &--green {
        @include card-gradient-background(vars.$green-light, vars.$green-dark)
      }

      &--blue {
        @include card-gradient-background(vars.$blue-light, vars.$blue-medium)
      }
    }
  }

  // FRONT SIDE STYLING
  &__picture {
    height: 45%;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: url("../img/nat-5.jpg"),
      linear-gradient(to right bottom, vars.$orange-light, vars.$orange-medium);
    }

    &--2 {
      background-image: url("../img/nat-6.jpg"),
      linear-gradient(to right bottom, vars.$green-light, vars.$green-medium);
    }

    &--3 {
      background-image: url("../img/nat-7.jpg"),
      linear-gradient(to right bottom, vars.$blue-light, vars.$blue-medium);
    }
  }

  // BEM doesn't like nested elements, even if they share name.
  &__heading {
    position: absolute;
    top: 25%;
    right: 5%;
    color: vars.$white;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--orange {
      background-image: linear-gradient(to right bottom, rgba(vars.$orange-light, .85), rgba(vars.$orange-medium, .85));
    }

    &--green {
      background-image: linear-gradient(to right bottom, rgba(vars.$green-light, .85), rgba(vars.$green-medium, .85));
    }

    &--blue {
      background-image: linear-gradient(to right bottom, rgba(vars.$blue-light, .85), rgba(vars.$blue-medium, .85));
    }
  }

  &__details {
    width: 70%;
    margin: 2.5rem auto 0 auto;

    ul {
      list-style: none;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(vars.$black, .05);
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }

  &__price-box {
    text-align: center;
    color: vars.$white;
    margin-bottom: 5rem;
  }

  &__price-title {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
