// COLORS
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

$gray-light-1: hsl(0, 0%, 97%);
$black: rgba(0, 0, 0);

$font-primary: #FFF;
$font-primary-dark: #777;

// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-max-width: 114rem;
$grid-vertical-gutter: 8rem;
$grid-horizontal-gutter: 6rem;
