@use "grid-items-span";
@use "implicit-grid";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
p {
  text-align: center;
  margin: revert;
  padding: revert;
}