*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;
  gap: 30px;

  width: 800px;
  margin: 30px auto;

  background-color: #eee;
}

.item {
  padding: 20px;

  font-size: 30px;
  color: white;

  &--1 {
    background-color: orange;
  }

  &--2 {
    background-color: greenyellow;
  }

  &--3 {
    background-color: blueviolet;
  }

  &--4 {
    background-color: palevioletred;
  }

  &--5 {
    background-color: royalblue;
  }

  &--6 {
    background-color: goldenrod;
  }
}
