*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

// METHOD 1: NUMBER LINES
// .container {
//   display: grid;
//   grid-template-rows: 100px 200px 400px 100px;
//   // Takes 50% of the parent ignoring gaps
//   // grid-template-columns: repeat(50%, 1fr);
//   grid-template-columns: repeat(3, 1fr) 200px;
//   gap: 30px;

//   width: 1000px;
//   margin: 30px auto;
//   border-radius: 15px;

//   background-color: #eee;
// }

// .item {
//   padding: 20px;
//   border-radius: 15px;
//   font-size: 30px;
//   color: white;

//   &--1 {
//     background-color: orange;
//     // grid-row-start: 2;
//     // grid-row-end: 3;
//     // grid-column-start: 2;
//     // grid-column-end: 3;
//     // grid-row: 2 / 3;
//     // grid-column: 2 / 3;
//     // grid-row-start / grid-column-start / grid-row-end / grid-column-end
//     // grid-area: 2 / 3 / 2 / 3;
//     grid-column: 1 / -1;
//     grid-row: 1 / 2;
//   }

//   &--2 {
//     background-color: greenyellow;
//   }

//   &--3 {
//     background-color: blueviolet;
//   }

//   &--4 {
//     background-color: palevioletred;
//   }

//   &--5 {
//     background-color: royalblue;
//     grid-column: 1 / span 3;
//     grid-row: span 1;
//   }

//   &--6 {
//     background-color: goldenrod;
//     // grid-column: 1 / span 3;
//     // Dynamically expanding to the last column (visible through devtools)
//     grid-column: 1 span / -1;
//     grid-row: 3 span / -1;
//   }

//   &--7 {
//     background-color: chocolate;
//     grid-column: span 3;
//   }
// }

//METHOD 2: LINE NAMES
.container {
  display: grid;
  // Accept multiple names per line
  grid-template-rows:
    [header-start] 100px
    [header-end box-start] 200px
    [box-end main-start] 400px
    [main-end footer-start] 100px 
    [footer-end];
  // CSS will append index suffix for line names in repeat functions
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-col-end];
  gap: 30px;

  width: 1000px;
  margin: 30px auto;
  border-radius: 15px;

  background-color: #eee;
}

.item {
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  color: white;

  &--1 {
    background-color: orange;
    grid-column: col-start 1 / grid-col-end;
  }

  &--2 {
    background-color: greenyellow;
  }

  &--3 {
    background-color: blueviolet;
  }

  &--4 {
    background-color: palevioletred;
  }

  &--5 {
    background-color: royalblue;
    grid-column: col-start 1 / col-end 3;
    grid-row: main-start / main-end;
  }

  &--6 {
    background-color: goldenrod;
    grid-column: col-end 3 / grid-col-end;
    grid-row: box-start / main-end;
  }

  &--7 {
    background-color: chocolate;
    grid-column: col-start 1 / grid-col-end;
  }
}
