@use "../abstract/variables";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 0 0 0 3rem;

  background-color: #fff;
  border-bottom: variables.$grey-light-2;

  &__logo {
    height: 3.25rem;
  }

  &__search-slot {
    flex: 0 0 40%;
  }

  &__user-nav-slot {
    // This will make only the user-nav-slot to occupy 100% of the navbar height
    // ignoring the "align-items" property of the .header
    align-self: stretch;

    & > * {
      height: 100%;
    }
  }
}
