@use "../abstract/variables";
@use "../abstract/mixins";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 0 0 0 3rem;

  background-color: #fff;
  border-bottom: variables.$divider-border;

  @include mixins.respond(medium-phone) {
    flex-wrap: wrap;
    row-gap: 2rem;

    padding: 1rem 3rem;
  }

  &__logo {
    height: 3.25rem;
  }

  &__search-slot {
    flex: 0 0 40%;

    @include mixins.respond(medium-phone) {
      order: 1;
      flex: 0 0 100%;
    }
  }

  &__user-nav-slot {
    // This will make only the user-nav-slot to occupy 100% of the navbar height
    // ignoring the "align-items" property of the .header
    align-self: stretch;

    & > * {
      height: 100%;
    }
  }
}
