@use "../abstract/variables";

.inline-button {
  $transition-duration: 200ms;

  display: inline-block;

  border: none;
  border-bottom: 1px solid currentColor;

  font-size: inherit;
  color: variables.$pink;

  background-color: transparent;
  cursor: pointer;

  transition: all $transition-duration;

  span {
    margin-left: 5px;

    transition: margin-left $transition-duration;
  }

  &:hover {
    color: variables.$grey-dark-1;

    span {
      margin-left: 10px;
    }
  }

}
