@use "../abstract/variables";
@use "../abstract/mixins";

.recommend {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 3rem;
  font-size: 1.3rem;
  color: variables.$grey-dark-2;

  @include mixins.respond(medium-phone) {
    flex-flow: column nowrap;
  }

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
    flex-flow: row nowrap;
  }

  &__photo {
    $size: 4rem;
    $bigger-size: 6rem;

    box-sizing: content-box;

    width: $size;
    height: $size;
    border-radius: 50%;
    border: 3px solid variables.$font-white;

    &:not(:last-of-type) {
      margin-right: -1rem;

      @include mixins.respond(medium-phone) {
        margin-right: 1rem;
      }
    }

    @include mixins.respond(medium-phone) {
      width: $bigger-size;
      height: $bigger-size;
    }
  }
}
