@use "../abstract/variables";
@use "../abstract/mixins";

.sidebar {
  margin-top: 3.5rem;

  font-size: 1.4rem;

  @include mixins.respond(tab-port) {
    margin-top: 0;
  }

  &__link-list {
    list-style: none;

    @include mixins.respond(tab-port) {
      display: flex;
      justify-content: stretch;
    }
  }

  &__item {
    position: relative;

    @include mixins.respond(tab-port) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: .75rem;

      @include mixins.respond(tab-port) {
        margin-bottom: 0;
      }
    }
  }

  // HOVER EFFECT
  &__item::before {
    $scaleY-transition-time: .2s;
    $width-transition-time: .4s;

    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 5px;

    transition:
            transform $scaleY-transition-time,
            width $width-transition-time cubic-bezier(1, 0, 0, 1) $scaleY-transition-time,
            background-color .2s;
    transform: scaleY(0);
    transform-origin: left;

    background-color: variables.$pink-dark;
  }

  &__item:hover::before,
  &__item--active::before {
    // At the moment, I couldn't find a way to add a transition to both
    // scaleY and scaleX individually
    transform: scaleY(1);
    width: 100%;
  }

  :is(&__item:active,  &__item--active)::before {
    background-color: variables.$pink-light;
  }

  &__link {
    z-index: 1;

    position: relative;

    display: flex;
    align-items: center;

    height: 100%;
    padding: 2rem 3rem;

    color: variables.$font-white;
    text-decoration: none;
    text-transform: uppercase;

    @include mixins.respond(tab-port) {
      justify-content: center;
    }

    @include mixins.respond(large-phone) {
      flex-flow: column nowrap;
      gap: .75rem;

      padding: 1.5rem .5rem;
    }
  }

  &__link-icon {
    $size: 2rem;
    $small-size: 1.75rem;

    width: $size;
    height: $size;
    margin-right: 3rem;

    fill: currentColor;

    @include mixins.respond(large-phone) {
      width: $small-size;
      height: $small-size;
      margin-right: 0;
    }
  }

  &__legal-slot {
    padding: 2.5rem;
    text-align: center;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }
}
