@use '../abstract/variables' as vars;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: vars.$font-primary;
}

/*
  =================== HEADING PRIMARY COMPONENT ======================
  This could also be a component...
 */
.heading-primary {
  color: vars.$font-primary;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  &--main {
    display: block;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    letter-spacing: 2.5rem;

    animation-name: moveInLeft;
    animation-duration: 500ms;
    animation-timing-function: ease-out;

    /*
    animation-delay: 5s;
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    animation: moveInRight 500ms ease-out;
  }
}
