@use "variables" as vars;

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin gradient-background {
  color: transparent;
  background-image: linear-gradient(to right, vars.$green-light, vars.$green-dark);
  -webkit-background-clip: text;
}
