@use "../abstract/variables";
@use "../abstract/mixins";

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  // In order to place the sidebar at the start and the "content" at the center
  // Two minmax(6rem, 1fr) columns can be used to expand and shrink dynamically
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @include mixins.respond(large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @include mixins.respond(medium) {
    grid-template-rows: 6rem 80vh repeat(6, min-content);
  }

  .sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    @include mixins.respond(large) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }
  }

  .header {
    grid-column: full-start / col-end 6;

    @include mixins.respond(medium) {
      grid-column: 1 / -1;
    }
  }

  .realtors {
    grid-column: col-start 7 / full-end;

    @include mixins.respond(medium) {
      grid-column: 1 / -1;
    }
  }

  .features-section {
    grid-column: center-start / center-end;
  }

  .story__pictures {
    grid-column: full-start / col-end 4;

    @include mixins.respond(medium) {
      grid-column: 1 / -1;
    }
  }

  .story__content {
    grid-column: col-start 5 / full-end;

    @include mixins.respond(medium) {
      grid-row: 5 / 6;
      grid-column: 1 / -1;
    }
  }

  .gallery {
    // The Two minmax(6rem, 1fr) columns can also be used to expand an item to the entire main content width
    grid-column: full-start / full-end;
  }

  .homes-section {
    grid-column: center-start / center-end;
  }

  .footer {
    grid-column: full-start / full-end;
  }
}