@use "../abstract/variables";
@use "../abstract/mixins";

.features-section {
  margin: 7.5rem 0 15rem 0;

  @include mixins.respond(small) {
    margin: 5rem 0 5rem 0;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: [icon] min-content [text] 1fr;
  gap: 1.5rem;

  &__icon {
    $size: 4.5rem;

    grid-column: icon;
    // The "-1" only works for explicit Grid'
    grid-row: 1 / span 2;
    align-self: start;

    width: $size;
    height: $size;

    fill: variables.$color-primary;
  }

  &__text {
    font-size: 1.7rem;
  }
}