@use "../abstract/variables";
@use "../abstract/mixins";

.header {
  display: grid;
  // The minmax allow us to set a range for the title item, so when the viewport is large it should at least have
  // 6rem but when broken into lines, it should stretch
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: auto;
  gap: 1.5rem;
  justify-content: center;

  padding: 4rem 8rem 8rem;

  background-image:
    linear-gradient(rgba(variables.$color-secondary, .8), rgba(variables.$color-secondary, .8)),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;

  @include mixins.respond(small) {
    padding: 5rem;
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__logo {
    justify-self: center;
    height: 3.5rem;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 2rem;

    font-size: 1.6rem;
    color: variables.$color-grey-light-2;

    // CSS Grid treat pseudo elements a items, so it's possible to
    // place them!
    &::before,
    &::after {
      content: "";
      height: 1px;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 3rem;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}