@use "../abstract/variables";
@use "../abstract/mixins";

.realtors {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 3rem;

  background-color: variables.$color-secondary;

  @include mixins.respond(medium) {
    padding: 5rem 0;
  }
}

.realtors-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 5vh;

  @include mixins.respond(medium) {
    flex-flow: row wrap;
  }

  &__item {
    display: grid;
    grid-template-columns: 8rem 1fr;
    justify-items: center;
    gap: 2rem;

    @include mixins.respond(small) {
      grid-template-rows: 8rem 1fr;
      grid-template-columns: max-content;
    }
  }

  &__item-image {
    $size: 8rem;

    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  &__item-details {
    display: flex;
    flex-flow: column;
    justify-content: center;

    @include mixins.respond(small) {
      align-items: center;
    }
  }

  &__item-sold {
    text-transform: uppercase;
    color: variables.$color-grey-light-2;
  }
}