@use "../abstract/variables";
@use "../abstract/mixins";

.sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 3.5rem;
  background-color: variables.$color-primary;

  @include mixins.respond(large) {
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
    padding-right: 3rem;
  }
}

.nav-btn {
  $height: 2px;
  $offset-from-center: 1rem;

  @include mixins.respond(large) {
    $offset-from-center: .75rem;
  }

  display: flex;
  flex-flow: column;
  gap: $offset-from-center;

  border: none;
  border-radius: 0;

  background-color: transparent;
  cursor: pointer;

  &__icon {
    width: 4.5rem;
    height: $height;

    background-color: #fff;
  }
}