@use '../abstract/variables' as vars;

.section-about {
  background-color: vars.$gray-light-1;
  padding: 25rem 0;
  // Heading 90vh - 75vh
  margin-top: -15vh;
}

.section-features {
  $skew-amount: 5deg;

  padding: 20rem 0;
  margin-top: -5.5rem;
  background-image: linear-gradient(
                  to right bottom,
                  rgba(vars.$green-light, 0.8),
                  rgba(vars.$green-dark, 0.8)
  ),
  url('../img/nat-4.jpg');
  transform: skewY(-$skew-amount);

  & > * {
    transform: skewY($skew-amount);
  }
}

.section-tours {
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
  background-color: vars.$gray-light-1;
}
