@use "../abstract/variables";

.layout {
  display: flex;
  flex-flow: column;
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: variables.$grey-light-2;
  box-shadow: variables.$shadow-dark;

  &__header-slot {
    flex: 0 0 7rem;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  &__sidenav-slot {
    flex: 0 0 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    background-color: variables.$grey-dark-1;
  }

  &__content-slot {
    flex: 1;
  }

  &__detail {
    display: flex;
    gap: 4.5rem;

    padding: 4.5rem;

    background-color: variables.$grey-light-1;
  }

  &__detail-description {
    flex: 0 0 60%;

    padding: 3rem;

    font-size: 1.4rem;

    background-color: variables.$font-white;
    box-shadow: variables.$shadow-light;
  }

  &__detail-user-reviews {
    flex: 1;

    background-color: yellowgreen;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
