@use "../abstract/variables";

.layout {
  display: flex;
  flex-flow: column;
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: variables.$grey-light-2;
  box-shadow: variables.$shadow-dark;

  &__header-slot {
    flex: 0 0 7rem;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  &__sidenav-slot {
    flex: 0 0 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    background-color: variables.$grey-dark-1;
  }

  &__content-slot {
    flex: 1;
  }
}
