@use "../abstract/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include mixins.respond(tab-land) {
    font-size: 50%;
  }
}
