@use '../abstract/variables' as vars;
@use '../abstract/mixins' as mixins;
@use 'sass:math';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(vars.$black, .8);
  transition: opacity .25s ease-out, visibility .25s ease-out;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__content {
    display: table;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.25);
    width: 80%;
    border-radius: 5px;
    background-color: white;
    opacity: 0;
    transition: all .4s .2s;
    overflow: hidden;

    @include mixins.respond(tab-land) {
      width: 90%;
    }
  }

  &__close-btn {
    $font-size: 4rem;

    &:link,
    &:visited {
      display: inline-block;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: $font-size;
      line-height: math.div($font-size, 2);
      color: vars.$gray-light-2;
      text-decoration: none;
      transition: color .2s;

      @include mixins.respond(tab-port) {
        color: vars.$white;
      }
    }

    &:hover {
      color: vars.$green-light;
    }
  }

  &__left {
    display: table-cell;
    width: math.div(100%, 3);

    @include mixins.respond(tab-port) {
      display: block;
      width: 100%;
      height: 30rem;
    }

    @include mixins.respond(phone) {
      height: 20rem;
    }
  }

  &__right {
    display: table-cell;
    width: math.div(100%, 3) * 2;
    padding: 3rem 5rem;
    vertical-align: middle;

    @include mixins.respond(tab-land) {
      padding: 2rem;
    }

    @include mixins.respond(tab-port) {
      display: block;
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include mixins.respond(tab-port) {
      width: 50%;
      height: 100%;
      float: left;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid vars.$gray-light-2;

    // Needs the html[lang]
    hyphens: auto;

    @include mixins.respond(tab-land) {
      column-count: unset;
      column-gap: unset;
      column-rule: unset;
    }
  }
}
