@use '../abstract/variables' as vars;

.story {
  $skew-angle: 12deg;
  $padding: 6rem;
  $avatar-left-offset: 3rem;

  width: 75%;
  padding: $padding $padding $padding ($padding + $avatar-left-offset);
  margin: 0 auto;
  border-radius: 3px;
  background-color: rgba(vars.$white, 0.6);
  box-shadow: 0 3rem 6rem rgba(vars.$black, .3);
  font-size: vars.$default-font-size;
  transform: skewX(-$skew-angle);

  &:hover &__image-caption {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    filter: blur(3px) brightness(70%);
    transform: translateX(-$avatar-left-offset) scale(1);
  }

  & > * {
    transform: skewX($skew-angle);
  }

  &__image-shape {
    $shape: circle(50% at 50% 50%);

    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    // This property allow us to define a way/shape for the inline text to wrap around this element. Needs to be a
    // floated element with a width and height.
    shape-outside: $shape;
    clip-path: $shape;

    // Currently, there is no way to apply multiple transform in different selectors to a same element
    transform: translateX(-3rem) skewX($skew-angle);
    // This fixes a line around the image when hovered and blur on text for Chrome
    overflow: hidden;
  }

  &__image {
    height: 100%;
    transform: translateX(-$avatar-left-offset) scale(1.4);
    transition: all 150ms ease-out;
  }

  &__image-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 150ms ease-out;
    transform: translate(-50%, 20%);
    visibility: hidden;
    opacity: 0;
    font-size: 1.7rem;
    color: vars.$white;
    text-align: center;
    text-transform: uppercase;
  }
}
